<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta charset="utf-8" />
	<title>Settings - Whizard Api</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
	<link rel="apple-touch-icon" href="pages/ico/60.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="pages/ico/76.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="pages/ico/120.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="pages/ico/152.png" />
	<link rel="icon" type="image/x-icon" href="favicon.ico" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-touch-fullscreen" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="default" />
	<meta content="Meet pages - The simplest and fastest way to build web UI for your dashboard or app." name="description" />
	<meta content="Ace" name="author" />
	<link href="assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
	<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" /> -->
	<link href="assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" />
	<!-- <link class="main-stylesheet" href="pages/css/themes/corporate.css" rel="stylesheet" type="text/css" /> -->
	<!-- Please remove the file below for production: Contains demo classes -->
	<link class="main-stylesheet" href="assets/css/style.css" rel="stylesheet" type="text/css" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
	<script src="https://viralpitch.co/insights/app/js/apexcharts-bundle/dist/apexcharts.js"></script>
	<link rel="stylesheet" href="styles/template.css" />
	<link rel="stylesheet" href="https://viralpitch.co/insights/app/js/apexcharts-bundle/dist/apexcharts.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
	<link href="styles/style.css" rel="stylesheet" type="text/css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://cdn.tailwindcss.com"></script>
	<!-- <link rel="stylesheet" type="text/css" href="styles/template-preview.css" /> -->
</head>

<body>
	<!-- Loader HTML -->
	<%- include("../commonJS/loader") %>
	
	<div class="layout-container">
		<%- include("../commonJS/sidebar")  %>
		<!-- END SIDEBAR MENU TOP TRAY CONTENT-->
		
		<!-- START PAGE-CONTAINER -->
		<div class="main-content">
			<!-- END HEADER -->
			<div class="logo breadCrumb">
				
				<!-- START BREADCRUMB -->
				<nav class="flex" aria-label="Breadcrumb">
					<div class="flex items-center">
						<a href="/settings" class="text-gray-500 hover:text-gray-700 hover:no-underline">Settings</a>
						<div class="relative inline-block pl-2">
							<i class="info-icon text-red-700 hover:text-red-900">
								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
									<circle cx="12" cy="12" r="10"></circle>
									<line x1="12" y1="16" x2="12" y2="12"></line>
									<line x1="12" y1="8" x2="12.01" y2="8"></line>
								</svg>
								
							</i>
							<div class="tooltip invisible opacity-0 w-64 bg-gray-900 text-white text-sm rounded-lg absolute z-10 p-4 -translate-x-1/2 left-[300%] mt-3 transition-opacity duration-300">
								
								<div class="absolute -top-2 left-[28%] -translate-x-1/2 w-4 h-4 bg-gray-900 transform rotate-45"></div>
								
								<div class="relative">
									Settings
								</div>
							</div>
						</div>
					</div>
					
				</nav>
				<!-- END BREADCRUMB -->
				
			</div>
			<div class="w-full h-full flex justify-center items-center">
				<div class="w-[60%] grid grid-cols-1 sm:grid-cols-2 gap-4">
					<div onclick="location.href='/settings/profile'" class="border cursor-pointer text-slate-500 rounded-xl space-y-3 p-3 hover:bg-slate-100">
						<i class="fa-solid fa-user text-black text-xl"></i>
						<h2 class="text-2xl text-black">Profile</h2>
						<p>Manage personal details such as name, email, password, language preferences, and user role.</p>
					</div>
					<% if (access?.settings?.whatsAppAccountDetails) { %>
					<div onclick="location.href='/settings/account-details'" class="border cursor-pointer rounded-xl text-slate-500 space-y-3 p-3 hover:bg-slate-100">
						<i class="fas fa-info-circle text-black text-xl"></i>
						<h2 class="text-2xl text-black">WhatsApp Account Details</h2>
						<p>View and update WhatsApp account information.</p>
					</div>
					<% } else { %>
					<div title="You don't have permissions to access this" class="border hover:cursor-not-allowed rounded-xl text-slate-500 space-y-3 p-3 hover:bg-slate-100">
						<i class="fas fa-info-circle text-black text-xl"></i>
						<h2 class="text-2xl text-black">WhatsApp Account Details</h2>
						<p>View and update WhatsApp account information.</p>
					</div>
					<% } %>
					<% if (access?.settings?.accountDetails) { %>
					<div onclick="location.href='/settings/account-details'" class="border cursor-pointer rounded-xl text-slate-500 space-y-3 p-3 hover:bg-slate-100">
						<i class="fas fa-info-circle text-black text-xl"></i>
						<h2 class="text-2xl text-black">Account Details</h2>
						<p>View and update business information and contact information.</p>
					</div>
					<% } else { %>
					<div title="You don't have permissions to access this" class="border hover:cursor-not-allowed rounded-xl text-slate-500 space-y-3 p-3 hover:bg-slate-100">
						<i class="fas fa-info-circle text-black text-xl"></i>
						<h2 class="text-2xl text-black">Account Details</h2>
						<p>View and update business information and contact information.</p>
					</div>
					<% } %>
					<% if (access?.settings?.userManagement?.type) { %>
					<div onclick="location.href='/settings/user-management'" class="border cursor-pointer rounded-xl text-slate-500 space-y-3 p-3 hover:bg-slate-100">
						<i class="fa fa-users text-black text-xl" aria-hidden="true"></i>
						<h2 class="text-2xl text-black">User Management</h2>
						<p>Add, edit, remove users, and assign roles to manage team access and permissions effectively.</p>
					</div>
					<% } else { %>
					<div title="You don't have permissions to access this" class="border hover:cursor-not-allowed cursor-pointer rounded-xl text-slate-500 space-y-3 p-3">
						<i class="fa fa-users text-black text-xl" aria-hidden="true"></i>
						<h2 class="text-2xl text-black">User Management</h2>
						<p>Add, edit, remove users, and assign roles to manage team access and permissions effectively.</p>
					</div>
					<% } %>
					
					<% if (access?.settings?.activityLogs) { %>
					<div onclick="location.href='/settings/activity-logs'" class="border cursor-pointer rounded-xl text-slate-500 space-y-3 p-3 hover:bg-slate-100">
						<i class="fas fa-history text-black text-xl"></i>
						<h2 class="text-2xl text-black">Activity Logs</h2>
						<p>Track user activity and display a timeline of actions, including activity type, user details, and timestamps.</p>
					</div>
					<% } else { %>
					<div title="You don't have permissions to access this" class="border rounded-xl text-slate-500 space-y-3 p-3 hover:cursor-not-allowed">
						<i class="fas fa-history text-black text-xl"></i>
						<h2 class="text-2xl text-black">Activity Logs</h2>
						<p>Track user activity and display a timeline of actions, including activity type, user details, and timestamps.</p>
					</div>
					<% } %>
					<% if (user?.payment?.plan !== "unlimited") { %>
					<% if (access?.settings?.payment) { %>
					<div onclick="location.href='/settings/payments'" class="border cursor-pointer rounded-xl text-slate-500 space-y-3 p-3 hover:bg-slate-100">
						<img src="svg/coins.svg" alt="payment" class="text-black text-xl">
						<h2 class="text-2xl text-black">Payments</h2>
						<p>Make payments, check history, check balance and many more.</p>
					</div>
					<% } else { %>
					<div title="You don't have permissions to access this" class="border rounded-xl text-slate-500 space-y-3 p-3 hover:cursor-not-allowed">
						<img src="svg/coins.svg" alt="payment" class="text-black text-xl">
						<h2 class="text-2xl text-black">Payments</h2>
						<p>Make payments, check history, check balance and many more.</p>
					</div>
					<% } %>
					<% } %>
				</div>
			</div>
			
		</div>
	</div>
	<script src="/toast.js"></script>
	<script src="/menu.js"></script>
	
</body>

</html>