<!-- Filter Modal -->
<div id="filterModal" class="fixed inset-0 bg-gray-500 bg-opacity-0 flex justify-center items-center z-50 opacity-0 pointer-events-none transition-opacity duration-300" onclick="closeFilterModal(event)">
	<div class="bg-white p-6 rounded-lg w-[500px] relative transition-transform transform scale-95 duration-300" onclick="event.stopPropagation()">
		<span class="absolute top-5 right-5 text-gray-500 text-2xl cursor-pointer" onclick="closeFilterModal()">×</span>
		<h3 class="text-lg font-semibold mb-4">Apply Filters</h3>
		
		<!-- Filters Form -->
		<div class="mb-4 relative">
			<label for="dateInterval" class="block text-gray-400">Choose date range</label>
			<div id="datePickerTrigger" class="mt-1 w-full px-4 py-2 border border-gray-300 text-gray-400 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-left flex items-center justify-between cursor-pointer">
				<span class="flex items-center ">
					<img src="svg/calendar.svg" alt="calendar" class="pr-2 " />
					<span id="dateText" class="pt-[0.1rem]">Choose date</span>
				</span>
				<span id="clearDate" class="text-gray-400 hover:text-red-500 px-2 hidden cursor-pointer text-2xl leading-none">&times;</span>
				<input type="text" id="dateInterval" class="hidden" />
			</div>
		</div>
		<div class="flex items-end">
			<div class="mb-4 w-full">
				<label for="attributeSelect" class="block text-gray-400">Attributes</label>
				
				<div class="filter-container">
					<div class="filter-row">
						<div class="flex items-center pt-2 space-x-2 relative w-full">
							<select id="attributeSelect" class="w-fit px-2 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
								<option value="Name">Name</option>
								<option value="Number">Number</option>
								<% if (contacts[0]?.masterExtra) { %>
								<% Object.keys(contacts[0].masterExtra).forEach(function(key) { %>
								<option value="<%= key %>"><%= key %></option>
								<% }); %>
								<% } %>
							</select>
							
							<select id="conditionSelect" class="w-fit px-2 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
								<option value="has">has</option>
								<option value="does not">does not</option>
							</select>
							
							<input type="text" id="attributeValue" placeholder="Attribute value" class="w-fit px-2 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
							
							<span class="remove-filter hidden cursor-pointer text-3xl text-gray-400 hover:text-red-500 ml-2 select-none">&times;</span>
						</div>
					</div>
				</div>
			</div>
			
			<div class="mb-4">
				<button type="button" class="px-3 py-1 text-4xl font-light text-black bg-white rounded-md focus:outline-none" onclick="addFilter()">+</button>
			</div>
		</div>		
		<!-- Action Buttons -->
		<div class="flex space-x-5">
			<button class="px-4 py-2 text-white bg-black rounded-lg" onclick="applyFilters()">Apply</button>
			<button class="px-4 py-2 text-gray-600 rounded-lg border  hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-500" onclick="clearFilters()">Clear all</button>
		</div>
	</div>
</div>

<!-- Modal Logic -->
<!-- Include Flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<!-- Include Flatpickr JS -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script src="/contact-list/js/filter.js"></script>