<div class="flex-grow left-section">
	<div class="mb-3">
		<img src="/assets/img/Wizard_logo.png" alt="Whizard Logo" style="max-width: 150px" class="w-25" />
	</div>
	<h1 class="gradient-text">
		Smart WhatsApp Solutions for Effortless Business
	</h1>
	<p class="p-text">
		Whizard helps businesses enhance WhatsApp communication by
		simplifying template creation, reporting, and integration seamlessly
		with other platforms.
	</p>
	<div class="img-preview">
		<div class="carousel">
			<img src="/assets/img/template.png" class="w-75 active" alt="Template Preview">
            <img src="/assets/img/template6.jpg" class="w-75" alt="Template Preview" />
            <img src="/assets/img/template3.jpg" class="w-75" alt="Template Preview" />
            <img src="/assets/img/template4.jpg" class="w-75" alt="Template Preview" />
			<img src="/assets/img/template2.jpg" class="w-75" alt="Template Preview" />	
			<img src="/assets/img/template5.jpg" class="w-75" alt="Template Preview" />		
		</div>
		<div class="carousel-dots"></div>
	</div>
</div>