<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Reset Password</title>
	<link rel="apple-touch-icon" href="pages/ico/60.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="pages/ico/76.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="pages/ico/120.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="pages/ico/152.png" />
	<link rel="icon" type="image/x-icon" href="favicon.ico" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-touch-fullscreen" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="default" />
	<meta content="Reset your password" name="description" />
	<meta content="Ace" name="author" />
	<link href="assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
	<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" />
	<!-- <link class="main-stylesheet" href="pages/css/themes/corporate.css" rel="stylesheet" type="text/css" /> -->
	<!-- Please remove the file below for production: Contains demo classes -->
	<link class="main-stylesheet" href="assets/css/style.css" rel="stylesheet" type="text/css" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> <!-- Tailwind CSS and Bootstrap for styles -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
	<script src="https://cdn.tailwindcss.com"></script>
	<link rel="stylesheet" href="styles/style.css" />
	<style>
		/* .right-section {
      background-color: white;
      /* padding: 60px; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    max-width: 50%;
    }

    */
		.loading-spinner {
			border: 3px solid rgba(0, 0, 0, 0.1);
			border-left-color: #fff;
			border-radius: 50%;
			width: 16px;
			height: 16px;
			animation: spin 1s linear infinite;
		}
		
		@keyframes spin {
			0% {
				transform: rotate(0deg);
			}
			
			100% {
				transform: rotate(360deg);
			}
		}
		
		.reset-button {
			background-color: #000;
			color: #fff;
			border: none;
			width: 100%;
			padding: 10px;
		}
		
		.reset-button:hover {
			background-color: #333;
		}
		
		.disabled {
			color: #f8d7da;
			cursor: not-allowed;
		}
	</style>
</head>

<body>
		<div id="loader" class="loader">
			<div class="w-full h-full flex justify-center items-center">
				<div class="flex flex-col items-center max-w-[10rem]">
					<img src="/assets/img/Wizard_logo.png" alt="Whizard Logo" class="animate-pulse object-contain loading-image mb-2" />
					<div class="w-full h-1 bg-gray-300 rounded-full overflow-hidden">
						<div id="progress-bar" class="h-full bg-black transition-all duration-300 ease-out" style="width: 0%"></div>
					</div>
				</div>
			</div>
		</div>
	<div class="flex w-100 h-100">
		<!-- Left Section -->
		<div class="flex-grow left-section">
			<div class="mb-5">
				<img src="/assets/img/Wizard_logo.png" alt="Whizard Logo" style="max-width: 150px" class="w-25" />
			</div>
			<h1 class="gradient-text">Smart WhatsApp Solutions for Effortless Business</h1>
			<p class="p-text">
				Whizard helps businesses enhance WhatsApp communication by
				simplifying template creation, reporting, and integration seamlessly
				with other platforms.
			</p>
			<div class="img-preview">
				<div class="carousel">
					<img src="/assets/img/template.png" class="w-75 active" alt="Template Preview">
					<img src="/assets/img/template2.jpg" class="w-75" alt="Template Preview" />
					<img src="/assets/img/template3.jpg" class="w-75" alt="Template Preview" />
					<img src="/assets/img/template4.jpg" class="w-75" alt="Template Preview" />
					<img src="/assets/img/template5.jpg" class="w-75" alt="Template Preview" />
					<img src="/assets/img/template6.jpg" class="w-75" alt="Template Preview" />
				</div>
				<div class="carousel-dots"></div>
			</div>
		</div>
		
		<!-- Right Section -->
		<div class="h-full p-5 right-section flex-shrink">
			<div class="flex flex-col ">
				
				<div class="mb-20 flex">
					<span class="flex items-center cursor-pointer" onclick="history.back()">
						<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black">
							<path d="M360-200 80-480l280-280 56 56-183 184h647v80H233l184 184-57 56Z" />
						</svg>
					</span>
					<span class="text-lg ml-2  cursor-pointer" onclick="history.back()">Back</span>
				</div>
				
				<h2 class="text-4xl font-semibold mb-4 text-center">Reset password</h2>
				<p class="text-gray-500 mb-10 text-lg text-center">
					Enter your email address and we'll send you an email with instructions to reset your password
				</p>
				
				<!-- Email Input Field -->
				<div class="mb-5">
					<label for="email" class="form-label text-gray-500 mb-3 text-base">Email</label>
					<input id="email" type="email" class="form-control" placeholder="Enter email address" required />
				</div>
				
				<!-- Submit Button -->
				<button id="resetButton" class="reset-button flex justify-center items-center">Reset</button>
				
				<!-- Success or Error Message -->
				<div id="message" class="text-center mt-3"></div>
				
			</div>
		</div>
	</div>
	
	</div>
	<!-- Include jQuery, Bootstrap JS, and any required scripts -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	
	<script>
		document.getElementById('resetButton').addEventListener('click', async function () {
			const email = document.getElementById('email').value;
			const messageDiv = document.getElementById('message');
			
			// Clear any previous messages
			messageDiv.textContent = '';
			
			// Disable submit button and show spinner
			document.getElementById('resetButton').disabled = true;
			document.getElementById('resetButton').innerHTML = `<div class="loading-spinner text-center"></div>`;
			
			if (email) {
				try {
					// Sending the email data using fetch
					const response = await fetch('api/users/resetPassword', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify({
							email: email
						})
					});
					
					const result = await response.json();
					
					if (response.ok) {
						messageDiv.textContent = 'An OTP has been sent to the above email.';
						messageDiv.style.color = 'green';
						document.getElementById('resetButton').innerHTML = "Reset";
						
						const encodedEmail = encodeURIComponent(email);
						
						setTimeout(() => {
							window.location.href = `/verify-reset-password-email?email=${encodedEmail}`;
						}, 2000);
					} else {
						messageDiv.textContent = result.message || 'Failed to send reset email.';
						messageDiv.style.color = 'red';
						document.getElementById('resetButton').innerHTML = "Reset";
						
					}
				} catch (error) {
					messageDiv.textContent = error || 'An error occurred. Please try again later.';
					messageDiv.style.color = 'red';
					document.getElementById('resetButton').innerHTML = "Reset";
					
				} finally{
					document.getElementById('resetButton').disabled = false;
				}
			} else {
				messageDiv.textContent = 'Please enter a valid email.';
				messageDiv.style.color = 'red';
				document.getElementById('resetButton').innerHTML = "Reset";
			}
		});
	</script>
	<script src="carousel.js"></script>
	<script>
		window.addEventListener('load', function () {
			// Fade out the loader smoothly by changing the opacity
			var loader = document.getElementById('loader');
			loader.style.transition = 'opacity 0.3s ease'; // Smooth fade out
			loader.style.opacity = '0';
			
			// Completely remove the loader after the fade-out effect is finished
			setTimeout(function () {
				loader.style.display = 'none'; // Ensure loader is no longer in the DOM flow
			}, 300); // Match the duration of the fade-out (0.5 seconds in this case)
		});
	</script>
</body>

</html>