<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>405 - Permission Denied</title>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
	<div class="container">
		<img src="/styles/405.png" />
		<div class="">
			
			<p>Oops! You don’t have permission to access this page.</p>
			<p>If you think this is a mistake, please contact support!</p>
			<button onclick="window.location.href='/'">Go Back to Dashboard</button>
		</div>
	</div>
</body>

</html>
