<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>500 - Internal Server Error</title>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
	<div class="container ">
		<img src="styles/500.png" />
		<div class="">
			<p>Oops! Something went wrong on our end.</p>
			<p>We’re working on it! Please try again later.</p>
			<a href="/" class="button">Return to Dashboard</a>
		</div>
		
	</div>
</body>

</html>