<html>

<body style="background-color: #f4f7fc; font-family: Arial, sans-serif; padding: 20px;">
	<div style="max-width: 600px; margin: auto; background-color: #fff; border-radius: 8px; box-shadow: 0 4px 6px rgba(0,0,0,0.1); overflow: hidden;">
		<div style="text-align: center; padding: 10px 0; margin-top: 10px;">
			<img src="cid:whizz_logo" alt="Whizz Logo" style="max-width: 150px;" />
		</div>
		
		<div style="padding: 20px; padding-top: 10px; text-align: center;">
			<% if (type === "reminder") { %>
			<h3 style="color: #333;">Just a quick reminder – your plan will expire in 3 days!</h3>
            <p>After expiry, you will not be able to send messages until you reactivate.</p>
			<p>👉 To continue uninterrupted access, <a href="https://console.whizardapi.com/settings/payments/">please renew your plan today.</a></p>
			<% } else if (type === "today") { %>
			<h3 style="color: #d35400;">Your current plan is set to expire today!</h3>
			<p>If not renewed, you will lose access to the dashboard and won’t be able to send any messages starting tomorrow.</p>
            <p>Don’t let your outreach stop – renew your plan now to keep everything running smoothly.</p>
            <p>👉 To continue uninterrupted access, <a href="https://console.whizardapi.com/settings/payments/">please renew your plan today.</a></p>
			<% } else { %>
			<h3 style="color: #c0392b;">Your plan has expired</h3>
			<p>Your plan has now expired, and you currently cannot send messages or access the dashboard.</p>
            <p>The good news is – you can reactivate anytime and continue where you left off.</p>
			<p>👉 To continue uninterrupted access, <a href="https://console.whizardapi.com/settings/payments/">please renew your plan today.</a></p>
			<% } %>
		</div>
		
		<div style="background-color: #f4f7fc; text-align: center; padding: 15px;">
			<p style="font-size: 12px; color: #999;">
				If you didn’t expect this email, please ignore it.
				Need help? Contact us at
				<a href="mailto:contact@whizardapi.com" style="color: #4a90e2;">contact@whizardapi.com</a>
			</p>
		</div>
	</div>
</body>

</html>