<div id="formTab" class=" hidden h-full w-full flex items-center flex-col space-y-4 mt-4">
	<div class="min-w-[32rem] max-w-lg bg-white p-6 rounded border">
		<h2 class="text-2xl font-semibold text-gray-800 mb-4">Change Super Admin Email</h2>
		<form class="sign-in-form" onsubmit="changeSuperAdminEmail(event)">
			<div class="form-group">
				<label class="p-text" for="email">Email</label>
				<input type="email" class="form-control focus:ring-0 placeholder:text-gray-400" id="email" name="email" placeholder="Enter email address" required>
				<p id="emailWarning" class="text-red-500 text-sm hidden mt-2">Only company emails are accepted.</p>
			</div>
			
			<div class="form-group">
				<label class="p-text" for="password">Password</label>
				<div class="input-group form-control">
					<input type="password" class="w-[93%] placeholder:text-gray-400" id="password" name="password" placeholder="Enter password" required />
					<span id="togglePassword">
						<span id="visibleConfirmPassword" style="cursor: pointer; width: fit-content;">
							<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="18px" fill="#9ca3af">
								<path d="m644-428-58-58q9-47-27-88t-93-32l-58-58q17-8 34.5-12t37.5-4q75 0 127.5 52.5T660-500q0 20-4 37.5T644-428Zm128 126-58-56q38-29 67.5-63.5T832-500q-50-101-143.5-160.5T480-720q-29 0-57 4t-55 12l-62-62q41-17 84-25.5t90-8.5q151 0 269 83.5T920-500q-23 59-60.5 109.5T772-302Zm20 246L624-222q-35 11-70.5 16.5T480-200q-151 0-269-83.5T40-500q21-53 53-98.5t73-81.5L56-792l56-56 736 736-56 56ZM222-624q-29 26-53 57t-53 67q50 101 143.5 160.5T480-280q20 0 39-2.5t39-5.5l-36-38q-11 3-21 4.5t-21 1.5q-75 0-127.5-52.5T300-500q0-11 1.5-21t4.5-21l-84-82Zm319 93Zm-151 75Z" />
							</svg>
						</span>
						
						<span id="notVisibleConfirmPassword" class="hidden" style="cursor: pointer; width: fit-content;">
							<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="18px" fill="#9ca3af">
								<path d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z" />
							</svg>
						</span>
					</span>
				</div>
				<small id="passwordError" class="text-danger pt-2" style="display: none;"></small>
			</div>
			
			<div class="form-group">
				<label class="p-text" for="confirmPassword">Confirm Password</label>
				<div class="input-group form-control">
					<input type="password" class="w-[93%] placeholder:text-gray-400" id="confirmPassword" name="confirmPassword" placeholder="Confirm password" required />
					<span id="toggleConfirmPassword">
						<span id="visibleConfirmIcon" style="cursor: pointer; width: fit-content;">
							<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="18px" fill="#9ca3af">
								<path d="m644-428-58-58q9-47-27-88t-93-32l-58-58q17-8 34.5-12t37.5-4q75 0 127.5 52.5T660-500q0 20-4 37.5T644-428Zm128 126-58-56q38-29 67.5-63.5T832-500q-50-101-143.5-160.5T480-720q-29 0-57 4t-55 12l-62-62q41-17 84-25.5t90-8.5q151 0 269 83.5T920-500q-23 59-60.5 109.5T772-302Zm20 246L624-222q-35 11-70.5 16.5T480-200q-151 0-269-83.5T40-500q21-53 53-98.5t73-81.5L56-792l56-56 736 736-56 56ZM222-624q-29 26-53 57t-53 67q50 101 143.5 160.5T480-280q20 0 39-2.5t39-5.5l-36-38q-11 3-21 4.5t-21 1.5q-75 0-127.5-52.5T300-500q0-11 1.5-21t4.5-21l-84-82Zm319 93Zm-151 75Z" />
							</svg>
						</span>
						<span id="notVisibleConfirmIcon" class="hidden" style="cursor: pointer; width: fit-content;">
							<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="18px" fill="#9ca3af">
								<path d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z" />
							</svg>
						</span>
					</span>
				</div>
				<small id="confirmPasswordError" class="text-danger pt-2" style="display: none;"></small>
			</div>
			
			<button type="submit" class="bg-black w-full text-white rounded p-2 h-10">
				<span class="buttonText">Submit</span>
				<div class="flex justify-center items-center buttonLoader hidden">
					<div class="loading-spinner"></div>
				</div>
			</button>
		</form>
	</div>
	<div class="bg-white min-w-[32rem] max-w-lg p-6 rounded border">
		<h2 class="text-2xl font-semibold text-gray-800 mb-4">Change Super Admin Refresh Token</h2>
		<form class="sign-in-form flex" onsubmit="changeSuperAdminToken(event)">
			<div class="form-group grow ">
				<label class="p-text" for="email">Refresh Token</label>
				<input type="text" class="form-control focus:ring-0 placeholder:text-gray-400 h-10" name="token" placeholder="Enter refresh token" required>
			</div>
			
			<button type="submit" class="bg-black text-white rounded p-2 h-10 shrink w-20 self-center mt-3 ml-2">
				<span class="buttonText">Submit</span>
				<div class="flex justify-center items-center buttonLoader hidden">
					<div class="loading-spinner"></div>
				</div>								
			</button>
		</form>
	</div>
</div>