<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta charset="utf-8" />
  <title>Pages - Admin Dashboard UI Kit - Cards</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
  <link rel="apple-touch-icon" href="pages/ico/60.png">
  <link rel="apple-touch-icon" sizes="76x76" href="pages/ico/76.png">
  <link rel="apple-touch-icon" sizes="120x120" href="pages/ico/120.png">
  <link rel="apple-touch-icon" sizes="152x152" href="pages/ico/152.png">
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta content="Meet pages - The simplest and fastest way to build web UI for your dashboard or app." name="description" />
  <meta content="Ace" name="author" />
  <link href="assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
  <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
  <link href="assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" />
  <link class="main-stylesheet" href="pages/css/themes/corporate.css" rel="stylesheet" type="text/css" />
  <!-- Please remove the file below for production: Contains demo classes -->
  <link class="main-stylesheet" href="assets/css/style.css" rel="stylesheet" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>

</head>

<div class="row py-3">

  <div class="col-12 col-md-6 col-lg-3 py-2">
    <div class="custom-card-container shadow-sm">
      <div class="card-container p-3">
        <div class="custom-card-body bg-white">
          <img src="https://duet-cdn.vox-cdn.com/thumbor/0x0:2040x1360/2400x1600/filters:focal(1020x680:1021x681):format(webp)/cdn.vox-cdn.com/uploads/chorus_asset/file/24062761/STK110_whats_app_Kradtke_02.jpg" alt="Card Image" class="custom-card-img">

          <h5 class="custom-card-title">Dear User! Plz read this information</h5>
          <p class="custom-card-subtitle">Subscribe Now</p>
          <div>
            <a href="#" class="custom-btn">
              <i class="fas fa-external-link-alt"></i> Visit Now
            </a>
            <a href="tel:+123456789" class="custom-btn">
              <i class="fas fa-phone-alt"></i> Call Now
            </a>
          </div>
        </div>
      </div>
      <div class="custom-card-footer">
        Test Template
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3 py-2">
    <div class="custom-card-container shadow-sm">
      <div class="card-container p-3">

        <div class="custom-card-body bg-white">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSimEtPETyjcf7d6lLiYWlycjTLSIobmoobPA&s" alt="Card Image" class="custom-card-img">
          <h5 class="custom-card-title">Dear User! Plz read this information</h5>
          <p class="custom-card-subtitle">Subscribe Now</p>
          <div>
            <a href="#" class="custom-btn">
              <i class="fas fa-external-link-alt"></i> Visit Now
            </a>
            <a href="tel:+123456789" class="custom-btn">
              <i class="fas fa-phone-alt"></i> Call Now
            </a>
          </div>
        </div>
      </div>
      <div class="custom-card-footer">
        Test Template
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3 py-2">
    <div class="custom-card-container shadow-sm">
      <div class="card-container p-3 ">

        <div class="custom-card-body bg-white ">
          <img src="https://media.licdn.com/dms/image/v2/C560BAQGeY0JtR6JxpA/company-logo_200_200/company-logo_200_200/0/1630588885858?e=2147483647&v=beta&t=dMDDABvAomoeydN01wwlKcuEwws2PVsP8YGCfUIShcI" alt="Card Image" class="custom-card-img">
          <h5 class="custom-card-title">Dear User! Plz read this information</h5>
          <p class="custom-card-subtitle">Subscribe Now</p>
          <div>
            <a href="#" class="custom-btn">
              <i class="fas fa-external-link-alt"></i> Visit Now
            </a>
            <a href="tel:+123456789" class="custom-btn">
              <i class="fas fa-phone-alt"></i> Call Now
            </a>
          </div>
        </div>
      </div>
      <div class="custom-card-footer">
        Test Template
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3 py-2">
    <div class="custom-card-container shadow-sm">
      <div class="card-container p-3">

        <div class="custom-card-body bg-white">

          <h6 class="custom-card-header">Hey user! This is your header for the template.</h6>
          <h5 class="custom-card-title">Dear User! Plz read this information</h5>
          <p class="custom-card-subtitle">Subscribe Now</p>
          <div>
            <a href="#" class="custom-btn">
              <i class="fas fa-external-link-alt"></i> Visit Now
            </a>
            <a href="tel:+123456789" class="custom-btn">
              <i class="fas fa-phone-alt"></i> Call Now
            </a>
          </div>
        </div>
      </div>
      <div class="custom-card-footer">
        Test Template
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3 py-2">
    <div class="custom-card-container shadow-sm">
      <div class="card-container p-3">

        <div class="custom-card-body bg-white">

          <h6 class="custom-card-header"> This is header !</h6>
          <h5 class="custom-card-title">Dear User! Plz read this information</h5>
          <p class="custom-card-subtitle">Subscribe Now</p>
          <div>
            <a href="#" class="custom-btn">
              <i class="fas fa-external-link-alt"></i> Visit Now
            </a>
            <a href="tel:+123456789" class="custom-btn">
              <i class="fas fa-phone-alt"></i> Call Now
            </a>
          </div>
        </div>
      </div>
      <div class="custom-card-footer">
        Test Template
      </div>
    </div>
  </div>





</div>