/* Base styles for all screens */
* {
	box-sizing: border-box;
	font-family: "Figtree", sans-serif;
	font-size: 15px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

@media (max-width: 1440px) {
	* {
		font-size: 14px;
	}
}

@media (max-width: 1280px) {
	* {
		font-size: 13px;
	}
}

@media (max-width: 1024px) {
	* {
		font-size: 12px;
	}
}

@media (max-width: 768px) {
	* {
		font-size: 12px; 
	}
}

html {
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

body {
	height: 100%;
	width: auto;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

*::-webkit-scrollbar {
	width: 0.7rem;
	height: 0.7rem;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: #d8cdcd;
	border-radius: 0.7rem;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: #000000;
}

*,
*::before,
*::after {
	outline: none !important;
}

.loading-image {
	/* width: 12rem; */
	height: 5rem;
}

select {
	appearance: none; /* Hide default arrow */
	-webkit-appearance: none;
	-moz-appearance: none;
	padding-right: 2.5rem; /* Moves text left to create space for arrow */
	position: relative;
}

/* Wrapper for positioning */
.select-wrapper {
	position: relative;
	display: inline-block;
	width: 100%;
}

/* Custom dropdown arrow */
.select-wrapper::after {
	content: "";
	position: absolute;
	right: 1rem; /* Moves arrow more inside */
	top: 50%;
	transform: translateY(-50%);
	width: 16px;
	height: 16px;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" height="24" width="24" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"/></svg>');
	background-size: contain;
	background-repeat: no-repeat;
	pointer-events: none; /* Prevent interaction issues */
}

#loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	visibility: visible;
	opacity: 1;
	transition: opacity 0.3s ease-out;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield; /* Firefox */
}

.user-profile {
	/* border: 2px solid black; */
	width: 100%;
	height: 6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
	/* border-radius: 100%; */
	/* margin-top: auto; */
	/* margin-bottom: 2rem; */
	/* border: #000 2px solid; */
}

.user-profile-img {
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	object-fit: cover; /* Ensures the image fills the container without distortion */
}

.user-profile-name {
	height: 4rem;
	width: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 1.5rem;
}

.account-menu {
	position: absolute;
	width: 10rem;
	bottom: 50%;
	left: 80%;
	background-color: white;
	/* border: 1px solid #ccc; */
	border-radius: 0.6rem;
	padding: 0.4rem;
	display: flex;
	flex-direction: column;
	/* gap: .4rem; */
	z-index: 999; /* Ensure high z-index */
	visibility: visible;
	/* box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03); */
	box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
	border: 0.108rem solid rgba(232, 232, 232, 1);
}

.report-card {
	position: absolute;
	width: 12.5rem;
	bottom: -30%;
	left: 120%;
	background-color: white;
	/* border: 1px solid #ccc; */
	border-radius: 0.6rem;
	padding: 0.4rem;
	display: flex;
	flex-direction: column;
	/* gap: .4rem; */
	z-index: 999; /* Ensure high z-index */
	visibility: visible;
	/* box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03); */
	box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
	border: 0.108rem solid rgba(232, 232, 232, 1);
}

.report-card a,
.report-card button {
	display: flex;
	flex-direction: row !important;
	align-items: center;
	padding: 0.7rem 0.8rem;
	text-decoration: none;
	color: rgba(101, 101, 101, 1);
	border: none;
	cursor: pointer;
	text-align: center;
	border-radius: 0.6rem;
}

.report-card a:hover,
.report-card button:hover {
	background: rgba(250, 250, 250, 1);
}

.account-menu a,
.account-menu button {
	padding: 0.7rem 0.8rem;
	text-decoration: none;
	color: rgba(101, 101, 101, 1);
	border: none;
	cursor: pointer;
	text-align: center;
	border-radius: 0.6rem;
}

.account-menu a:hover,
.account-menu button:hover {
	background: rgba(250, 250, 250, 1);
}

.logo {
	position: relative;
	padding: 1rem 0 1rem 0;
	width: 75%;
	/* border: 2px solid black; */
	/* margin-bottom: 24px; */
}

.logo::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0.15rem;
	/* padding: 1rem; */
	background: linear-gradient(
		90deg,
		rgba(228, 228, 228, 0.2) -2.34%,
		#e4e4e4 48.83%,
		rgba(228, 228, 228, 0.2) 100%
	);
}

.user-profile::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 0.15rem;
	/* margin-bottom: 1rem; */
	background: linear-gradient(
		90deg,
		rgba(228, 228, 228, 0.2) -2.34%,
		#e4e4e4 48.83%,
		rgba(228, 228, 228, 0.2) 100%
	);
}

.sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100vh;
	border-right: #f9f9fa 0.5rem solid;
	position: relative;
	background-color: white;
	width: 10%;
	scrollbar-width: none;
	min-width: 7rem;
}

.sidebar ul::-webkit-scrollbar {
	display: none;
}

.sidebar ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	margin: 0;
	padding: 0;
	gap: 0.5rem;
	overflow: auto;
}

.sidebar ul li:nth-child(6) {
	margin-bottom: 2rem;
}

.sidebar ul li:nth-child(1) {
	margin-top: 0.5rem;
}

.sidebar ul li a {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #959595;
	text-decoration: none;
	transition: background 0.3s;
	border-radius: 1rem;
}

.sidebar ul li a .icon.active {
	background-color: #fce9e9;
	color: #e02424;
}

.sidebar ul li a {
	display: flex;
	align-items: center;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

.sidebar ul li a .icon {
	display: inline-block;
	border-radius: 1rem;
	padding: 1rem;
	transition: all 0.3s ease-in-out;
}

.sidebar ul li a:hover .icon {
	background-color: #fdd0d0;
}

.sidebar ul li a span img {
	transition: transform 0.3s ease-in;
}

.sidebar ul li a:hover span img {
	transform: scale(1.5);
}

.sidebar ul li a .icon:active {
	color: #f20000 !important;
}

/* Hamburger button */
.hamburger-button {
	display: none;
	position: absolute;
	left: 1rem;
	top: 50%;
	transform: translateY(-50%);
	z-index: 30;
}

.hamburger-button button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0.5rem;
}

.hamburger-button img {
	width: 1.5rem;
	height: 1.5rem;
}

/* Overlay for mobile sidebar */
.sidebar-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 20;
	transition: opacity 0.3s ease;
}

.hidden {
	display: none;
}

.disabled-link {
	pointer-events: none;
	cursor: not-allowed;
	color: #aaa; /* Make the text look disabled */
}

:focus {
	outline: none;
}

.gradient-bg {
	background: linear-gradient(90deg, #000000 0%, #1a1a1a 50%, #333333 100%);
}
.phone-circles {
	position: absolute;
	right: -10rem;
	top: 50%;
	transform: translateY(-50%);
}
.connect-btn {
	transition: all 0.2s ease;
}
.connect-btn:hover {
	transform: translateY(-1px);
	box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}
.connect-btn:active {
	transform: translateY(0);
}

.circle-gradient {
	background: radial-gradient(
		circle at right,
		rgb(99, 99, 99) 0%,
		rgba(255, 255, 255, 0.141) 100%,
		transparent 0%
	);
}

.icon-gradient-platform {
	background: radial-gradient(
		circle at bottom,
		rgb(255, 255, 255) 0%,
		rgba(255, 224, 224, 0.293) 100%,
		transparent 0%
	);
}

.p-text {
	color: #959595;
	size: 1.6rem;
	font-weight: 400;
}

.container-fluid {
	display: flex;
	/* height: 100vh; */
	align-items: center;
	justify-content: center;
}

.left-section {
	background-color: #f9f9f9;
	padding: 1rem;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 55%;
	height: 100%;
	/* border: #000 1px solid; */
}

.right-section {
	background-color: white;
	/* padding-top: 60px;
	padding-bottom: 60px; */
	min-width: 40%;
	max-width: 40%;
	display: flex;
	/* align-items: center; */
	justify-content: start;
	flex-direction: column;
	/* border: #000 1px solid; */
}

.left-section h1 {
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 2rem;
	color: #3d3d3d;
}

.left-section span {
	color: #4f30ff;
	font-weight: 500;
}

.left-section p {
	color: #666;
	font-size: 1.1rem;
	margin-bottom: 2rem;
}

.sign-in-form {
	margin-top: 3rem;
}

.btn-primary {
	background-color: #000;
	border: none;
	border-radius: 0.5rem;
	padding: 1rem 2rem;
	width: 100%;
	box-shadow: 0 0.1rem 0.2rem 0 #1018280d;
	border-radius: 0.8rem;
}

.btn-primary:hover {
	background-color: #333;
}

.invalid-feedback {
	color: red;
}

.forgot-password {
	text-align: right;
	font-size: 0.9rem;
	color: #959595;
}

.remember-me {
	font-size: 0.9rem;
}

.img-preview {
	width: 100%;
	/* margin-top: 2rem; */
	/* text-align: left; */
	position: relative;
}

.carousel {
	position: relative;
	width: 100%;
	height: 450px; /* Adjust based on your image height */
	overflow: hidden;
	/* border: #00db23 solid 2px; */
}

.carousel img {
	position: absolute;
	object-fit: contain;
	min-width: 100%;
	height: 90%;
	opacity: 0;
	transform: translateX(5%);
	transition: all 0.8s ease-in-out;
	left: 0;
	right: 0;
	margin: 0 auto;
	/* border: #000 2px solid; */
}

.carousel img.active {
	opacity: 1;
	transform: translateX(0);
	z-index: 2;
}

.carousel img.next {
	transform: translateX(0);
	z-index: 1;
}

.carousel img.prev {
	transform: translateX(-0);
	z-index: 1;
}

.carousel-dots {
	position: absolute;
	bottom: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 8px;
	z-index: 3;
}

.carousel-dot {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: transparent;
	border: 2px solid #d3d3d3;
	cursor: pointer;
	transition: all 0.3s ease;
}

.carousel-dot.active {
	background: #a8a8a8;
	transform: scale(1.2);
}

.carousel-dot:hover {
	transform: scale(1.2);
	opacity: 1;
}

.gradient-text {
	font-size: 3rem;
	font-weight: 400 !important;
	font-weight: bold;
	/* background: linear-gradient(90deg, blue, red); */

	background: linear-gradient(90.82deg, #2d3de2 1.25%, #f50000 41.79%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.sign-in-ext {
	color: #191919;
	size: 3rem;
	font-weight: 500;
}

/* side bar styling and dashboard */

.main-content {
	/* flex: 1; */
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* padding: 1rem; */
	overflow-y: auto; /* Enable scrolling for main content */
	background-color: white;
	/* border: #000 solid 1px; */
	width: 100%;
}

.breadCrumb {
	/* position: sticky; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 98%;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.mainDiv {
	/* padding-top: 0.75rem; */
	overflow-y: auto;
	width: 98%;
}

/* Layout container */
.layout-container {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100vh;
}

@media (max-width: 768px) {
	.dashboard-content {
		margin-left: 0;
	}
}

.dashboard-header {
	margin-bottom: 2rem;
}

.filter-bar {
	margin-bottom: 2rem;
}

.filter-bar select {
	max-width: 30%;
	height: 3.5rem;
}

/* Background colors for icons */
.icon-wrapper {
	background: radial-gradient(
		circle at 100% 100%,
		rgba(209, 255, 209, 0.5) 20%,
		/* First circle */ rgba(209, 255, 209, 0) 40%,
		/* Fading out */ rgba(209, 255, 209, 0.2) 60%,
		/* Second circle */ rgba(255, 255, 255, 0) 80%
	); /* Complete fade */
	/* padding: 10px;
  border-radius: 50%; */
	display: inline-flex;
	height: 2rem;
	width: 2rem;
	justify-content: center;
	align-items: center;
}
/* Progress bar styling */
.progress {
	height: 0.5rem;
	background-color: #e9ecef;
	border-radius: 0.5rem;
}

.progress-bar-green {
	background-color: #00db23;
}

.progress-bar-yellow {
	background-color: #ffc700;
}

.progress-bar-blue {
	background-color: #686ffd;
}

.progress-bar-grey {
	background-color: #667085;
}

.progress-bar-red {
	background-color: #fd8d14;
}

.progress-bar-orange {
	background-color: #fd8d14;
}

/* Colors for specific cards */
.bg-messages-sent {
	background-color: #e0ffe5;
	color: #00db23;
}

.bg-replies-received {
	background-color: #fff8e0;
	color: #ffc700;
}

.bg-messages-read {
	background-color: #f0f1ff;
	color: #686ffd;
}

.bg-messages-delivered {
	background-color: #f0f1f3;
	color: #667085;
}

.bg-messages-failed {
	background-color: #fff0e1;
	color: #fd8d14;
}

.bg-number-invalid {
	background-color: #fce9e9;
	color: #fd8d14;
}

.dash-text {
	/* font-size: 24px; */
	font-weight: 600;
	color: #191919;
	padding-bottom: 1rem;
}

/* For screens smaller than 768px (tablets and phones) */
@media (max-width: 768px) {
	.layout-container {
		flex-direction: column;
		flex-grow: 1;
	}

	.hamburger-button {
		display: block;
	}

	.sidebar {
		flex-direction: row;
		height: 7vh;
		width: 100%;
		align-items: center;
		justify-content: center;
		/* box-shadow: 0 2px 5px rgba(120, 120, 120, 0.1); */
		z-index: 10;
	}

	.sidebar::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 0.15rem;
		/* padding: 1rem; */
		background: linear-gradient(
			90deg,
			rgba(228, 228, 228, 0.2) -2.34%,
			#e4e4e4 48.83%,
			rgba(228, 228, 228, 0.2) 100%
		);
	}

	.sidebar .logo {
		width: auto;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.sidebar .logo img {
		padding: 0.5rem;
		height: 80%;
	}

	/* Mobile menu slide out */
	.sidebar ul#sidebarMenu {
		position: fixed;
		top: 7vh;
		left: -80%;
		width: 20%;
		height: 93vh;
		background-color: white;
		flex-direction: column;
		transition: left 0.3s ease;
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
		z-index: 100;
		padding: 1rem 0;
	}

	.sidebar ul#sidebarMenu.show {
		left: 0;
	}

	.hidden-mobile {
		display: none;
	}

	/* Profile section */
	.user-profile {
		width: auto;
		height: 100%;
		position: absolute;
		right: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: none;
	}

	.account-menu {
		left: 0;
		right: 100;
		bottom: 0%;
		top: 100%;
	}

	.left-section {
		max-width: 100%;
		padding: 2rem;
	}

	.right-section {
		max-width: 100%;
		padding: 3rem;
	}

	.left-section h1 {
		font-size: 1.8rem; /* Smaller font size for smaller screens */
	}

	.left-section p {
		font-size: 1rem;
	}

	.gradient-text {
		font-size: 2.2rem;
	}
}

/* For screens smaller than 576px (phones) */
@media (max-width: 576px) {
	.left-section {
		text-align: center;
		padding: 1.5rem;
	}

	.right-section {
		padding: 2rem;
	}

	.btn-primary {
		padding: 1rem;
		font-size: 1rem;
	}

	.gradient-text {
		font-size: 1.8rem;
	}

	.img-preview img {
		width: 90%; /* Make image smaller */
	}
}
/* Responsive Adjustments */
@media (max-width: 576px) {
	.filter-bar {
		flex-direction: column;
		align-items: flex-start;
	}

	.card-dashboard {
		text-align: center;
	}

	.filter-bar label {
		margin-bottom: 1rem;
	}

	.card-dashboard h4 {
		font-size: 1.5rem;
	}
}

/* For screens smaller than 768px (tablets and phones) */
@media (max-width: 768px) {
	.left-section {
		max-width: 100%;
		padding: 2rem;
	}

	.right-section {
		max-width: 100%;
		padding: 3rem;
	}

	.left-section h1 {
		font-size: 1.8rem; /* Smaller font size for smaller screens */
	}

	.left-section p {
		font-size: 1rem;
	}

	.gradient-text {
		font-size: 2.2rem;
	}
}

/* For screens smaller than 576px (phones) */
@media (max-width: 576px) {
	.left-section {
		text-align: center;
		padding: 1.5rem;
	}

	.right-section {
		padding: 2rem;
	}

	.btn-primary {
		padding: 1rem;
		font-size: 1rem;
	}

	.gradient-text {
		font-size: 1.8rem;
	}

	.img-preview img {
		width: 90%; /* Make image smaller */
	}
}

@media (max-width: 768px) {
	.sign-in-form {
		margin-top: 2rem;
	}

	.form-group label {
		font-size: 0.9rem;
	}

	.btn-primary {
		padding: 0.8rem;
		font-size: 0.9rem;
	}
}
