.iphone-container {
	position: relative;
	width: 350px;
	height: 480px;
	background: url("./Iphone-png-mockup.png") no-repeat center center;
	background-size: contain;
	overflow: hidden;
	/* border: #0984e3 solid 1px; */
}

.iphone-screen {
	position: absolute;
	top: 11px;
	left: 52px;
	width: calc(77% - 30px);
	height: calc(100% - 23px);
	overflow: hidden;
	background-image: url(./BG.jpg);
	background-size: cover;
	background-position: center;
	border-radius: 30px;

	/* box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); */
}

.iphone-container .card {
	margin: 0;
	/* border: none;
	border-radius: 20px; */
	/* Smooth edges */
	/* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
	/* Card shadow */
	margin-top: 35px;
}

.iphone-container .card-body {
	padding: 10px;
}

.iphone-container .card .btn {
	width: 100%;
	margin-bottom: 8px;
	/* Space between buttons */
}

.iphone-container .card .btn-primary {
	background-color: #6c5ce7;
	border: none;
}

.iphone-container .card .btn-secondary {
	background-color: #0984e3;
	border: none;
}
